fluxo_n8n.json
{
  "name": "Chat RAG com Upload de Documentos",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/chat",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "session_id",
              "value": "={{ $json.sessionId }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data0"
            }
          ]
        },
        "options": {
          "timeout": 180000
        }
      },
      "id": "64d48b92-df83-4b6b-b4fe-fb28addea7d7",
      "name": "API - Upload Arquivos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -96,
        448
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/chat",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "question",
              "value": "={{ $json.chatInput }}"
            },
            {
              "name": "session_id",
              "value": "={{ $json.sessionId }}"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "073a0f7b-0fa0-4996-b9a1-255a531c6923",
      "name": "API - Chat Pergunta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        512,
        816
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-file",
              "leftValue": "={{ !!$json.files?.length || !!Object.keys($binary || {}).length }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9d4f9c5c-183a-4d10-8f77-db2f7b1cbd4f",
      "name": "Verificar se tem Arquivo",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -512,
        816
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/scrape",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json[\"URL:\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -656,
        512
      ],
      "id": "adf6578e-84db-418d-a0fe-2fc1d143a0be",
      "name": "Faz Scrape"
    },
    {
      "parameters": {
        "formTitle": "URL para Scrape",
        "formDescription": "Insira a URL a ser feito o scrape",
        "formFields": {
          "values": [
            {
              "fieldLabel": "URL:"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -944,
        512
      ],
      "id": "666ef735-0917-4e18-ae4c-0c65cdadc77b",
      "name": "Formulário para realizar scrape",
      "webhookId": "40e7feb0-038f-4b9f-851e-5b6026e31dae"
    },
    {
      "parameters": {
        "jsCode": "// Consolida as respostas da API\nconst items = $input.all();\n\n// Filtra apenas itens que contenham answer\nconst validAnswers = items\n  .filter(item => item.json.answer)\n  .map(item => item.json.answer);\n\nif (validAnswers.length === 0) {\n  return {\n    output: \"Desculpe, não consegui encontrar uma resposta clara no momento.\"\n  };\n}\n\n// Retorna a primeira resposta\nreturn {\n  output: validAnswers[0]\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        1136
      ],
      "id": "7246dc4e-810f-45b2-896f-e3897f0cd28f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -912,
        1248
      ],
      "id": "f471cc7a-31ea-40a3-b316-ea5f5cc1cf14",
      "name": "Postgres Chat Memory",
      "alwaysOutputData": false,
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "usoagz9LcQLAFyau",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "type": "ai",
              "message": "={{ $json.answer }}"
            },
            {
              "type": "user",
              "message": "={{ $('When chat message received').item.json.sessionId }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        -272,
        1136
      ],
      "id": "bb953462-d7eb-4cb7-a006-17ed9222bd0e",
      "name": "Chat Memory Manager1",
      "executeOnce": true
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Olá, como posso ajudar?",
        "options": {
          "allowFileUploads": true,
          "loadPreviousSession": "memory"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -912,
        832
      ],
      "id": "cb8722ee-1f9e-4345-8ca8-2bdb99dea87e",
      "name": "When chat message received",
      "webhookId": "d2eb5b10-e100-4de0-9a7c-2f067984b95d"
    }
  ],
  "pinData": {},
  "connections": {
    "API - Upload Arquivos": {
      "main": [
        [
          {
            "node": "API - Chat Pergunta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API - Chat Pergunta": {
      "main": [
        [
          {
            "node": "Chat Memory Manager1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar se tem Arquivo": {
      "main": [
        [
          {
            "node": "API - Upload Arquivos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "API - Chat Pergunta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formulário para realizar scrape": {
      "main": [
        [
          {
            "node": "Faz Scrape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Chat Memory Manager1",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "When chat message received",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory Manager1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Verificar se tem Arquivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "3445d674-68c3-4c83-888a-fa89d64a90d3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0e89ef2dafe27d58c9f4c7563a13aa3e5bd710ab5409b4666491589e7f357092"
  },
  "id": "KJU_k26Ib8A0U8-IN75XM",
  "tags": []
}